---
title: CV
permalink: /cv
layout: none
---

<html lang="en" class="sr">
  <head>
    <link rel="stylesheet" href="css/cv.css">
  </head>

  <body>
    {% include header.html %}
    <p class="message">If CV cannot be displayed, please refresh or <a class="cv-link" href="https://github.com/jake-fawcett/CV/releases/download/latest/cv.pdf">download pdf.</a></p>
    <iframe src="https://docs.google.com/gview?url=https://github.com/jake-fawcett/CV/releases/download/latest/cv.pdf&embedded=true" style="width:100%; height:95%" frameborder="0"></iframe>
    {% include footer.html %}
  </body>
</html>